services:
  whisper:
    build: .
    image: reduced-whisper
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    volumes:
      - ./data:/data
    
    working_dir: /data
    entrypoint: ["R"]